<!DOCTYPE html>
<html lang="vi">

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- Custom-Files -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->

    <!-- web fonts -->
    <link
        href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
        rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>
        var googleUser = {};
        var startApp = function () {
            gapi.load('auth2', function () {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '814261897828-fofnrk5946u9mh4vd5schg5jptbv6cq9.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    // Request scopes in addition to 'profile' and 'email'
                    //scope: 'additional_scope'
                });
                attachSignin(document.getElementById('customBtn'));
            });
        };

        function attachSignin(element) {
            console.log(element.id);
            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    document.getElementById('name').innerText = "Signed in: " +
                        googleUser.getBasicProfile().getName();
                }, function (error) {
                    alert(JSON.stringify(error, undefined, 2));
                });
        }
    </script>
    <style type="text/css">
        #customBtn {
            display: inline-block;
            background: white;
            color: #444;
            width: 190px;
            height: 35px;
            border-radius: 5px;
            border: thin solid #888;
            box-shadow: 1px 1px 1px grey;
            white-space: nowrap;
        }

        #customBtn:hover {
            cursor: pointer;
        }

        span.label {
            font-family: serif;
            font-weight: lighter;
        }

        span.icon {
            background: url('https://developers.google.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 35px;
            height: 35px;
        }

        span.buttonText {
            display: inline-block;
            vertical-align: middle;
            padding-left: 12px;
            padding-right: 22px;
            font-size: 12px;
            font-weight: bold;
            /* Use the Roboto font that is loaded in the <head> */
            font-family: 'Roboto', sans-serif;
        }

        #gSignInWrapper {
            margin: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="bg-image"></div>
    <div class="container">
        <!-- modals -->
        <!-- log in -->
        <div class="show" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">Đăng nhập</h5>
                    </div>
                    <div id="gSignInWrapper">
                        <div id="customBtn" class="customGPlusSignIn">
                            <span class="icon"></span>
                            <span class="buttonText">Login with Google</span>
                        </div>
                        <img src="images/facebook-login-icon-10.jpg" alt="" width="190" height="50"
                            style="margin-left: 30px">
                    </div>
                    <div id="name"></div>
                    <script>startApp();</script>
                    <div class="modal-body">
                        <form name="loginForm" method="post">
                            {{#if success_messages }}
                            <div class="alert alert-success">{{success_messages}}</div>
                            {{/if}}
                            {{#if error_messages }}
                            <div class="alert alert-danger">{{error_messages}}</div>
                            {{/if}}
                            <div class="form-group">
                                <label class="col-form-label">Tên đăng nhập</label>
                                <input type="text" class="form-control" placeholder="Username" name="username"
                                    required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Mật khẩu</label>
                                <input type="password" class="form-control" placeholder="Mật khẩu" name="password"
                                    required="">
                            </div>
                            <div class="right-w3l">
                                <input id="loginBtn" type="submit" class="form-control" value="Đăng nhập">
                            </div>
                            <div class="sub-w3l">
                                <div class="custom-control custom-checkbox mr-sm-2 align-right">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Duy trì đăng
                                        nhập</label>
                                    <a href="/enterEmail" id="forgetPasswordBtn" class="float-right text-right dont-do"
                                        data-toggle="modal" data-target="#forgetPasswordModal">
                                        Quên mật khẩu</a>
                                </div>
                            </div>
                            <p class="text-center dont-do mt-3">Chưa có tài khoản ?
                                <a href="/signup">
                                    Đăng ký ngay</a>
                            </p>
                            <a class="backHomeLink" href="/"><i class="fas fa-arrow-left"></i> Về trang chủ</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loading" class="sk-fading-circle" style="display: none;">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

    <!-- jquery -->
    <script type="text/javascript" src="javascripts/jquery-2.2.3.min.js"></script>
    <!-- //jquery -->
    <!-- jquery validation-->
    <script type="text/javascript" src="javascripts/jquery.validate.min.js"></script>
    <!-- //jquery validation-->
    <!-- account -->
    <script type="text/javascript" src="javascripts/account.js"></script>
    <!-- end account -->
    <!-- Service js-->
    <script type="text/javascript" src="javascripts/service/loading.js"></script>
    <!-- //Service js -->
</body>

</html>